.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 2px solid map-get($colors, light-red);
    @include huge{
        width: 90%;
        margin-top: 30px;
        padding: 40px;
    }
    @include medium{
        flex-direction: column;
        text-align: center;
    }

    h3{
        font-size: 30px;
    }
    ul{
        display: flex;
        @include medium{
            margin-top: 15px;
            justify-content: center;
        }
        li{
            a{
                font-size: 22px;
                display: block;
                margin-right: 20px;
                @extend %hover-color;
            }
        }
    }
}