@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.btn, .header .menu .navbar ul li, .header .menu .logo img {
  transition: 0.3s;
}
.btn:hover, .header .menu .navbar ul li:hover, .header .menu .logo img:hover {
  transform: scale(1.05);
}

.footer ul li a:hover, .header .menu .navbar ul li a:hover {
  color: crimson;
}

* {
  font-family: "Bebas Neue", cursive;
  color: #F2F2F2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #0D0D0D;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .header .menu {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .header .menu {
    width: 100%;
  }
}
.header .menu .logo {
  overflow: hidden;
  height: 100px;
}
.header .menu .logo img {
  background-color: crimson;
  width: 150px;
  height: 100px;
  padding: 0 15px;
  object-fit: cover;
}
.header .menu .menu-icon {
  width: 25px;
}
.header .menu .menu-label {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1000px) {
  .header .menu .menu-label {
    display: initial;
    margin-right: 25px;
  }
}
.header .menu .navbar ul li {
  display: inline-block;
  padding: 0 20px;
}
.header .menu .navbar ul li .login-burger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header .menu .navbar ul li .login-burger {
    display: inline-block;
  }
}
.header .menu .navbar ul li a {
  font-size: 30px;
}
@media screen and (max-width: 1000px) {
  .header .menu .navbar ul li {
    width: 100%;
    padding-top: 10px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .header .menu .navbar ul {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .header .menu .navbar {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #212529;
    display: none;
  }
}
.header .menu #menu {
  display: none;
}
.header .menu #menu:checked ~ .navbar {
  display: initial;
}
@media screen and (max-width: 1000px) {
  .header .menu .btn-1 {
    display: none;
  }
}
.header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(33, 37, 41, 0.5);
  margin-bottom: 100px;
  padding: 20px;
  height: 210px;
  width: 40%;
  border-radius: 30px;
}
@media screen and (max-width: 1200px) {
  .header .header-content {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  .header .header-content {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .header .header-content {
    width: 80%;
  }
}
@media screen and (max-width: 420px) {
  .header .header-content {
    width: 65%;
  }
}
@media screen and (max-width: 1200px) {
  .header .header-content .header-1 h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header .header-content .header-1 h1 {
    font-size: 27px;
  }
}
@media screen and (max-width: 800px) {
  .header .header-content .header-1 h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-content .header-1 h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 420px) {
  .header .header-content .header-1 h1 {
    font-size: 20px;
  }
}
.header .header-content .header-2 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding-bottom: 8px;
}
@media screen and (max-width: 1200px) {
  .header .header-content .header-2 h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .header .header-content .header-2 h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header .header-content .header-2 h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-content .header-2 h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 420px) {
  .header .header-content .header-2 h2 {
    font-size: 14px;
  }
}
.header .header-content div a {
  height: 10px;
  margin-top: 5px;
}
@media screen and (max-width: 1200px) {
  .header .header-content div a {
    font-size: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .header .header-content div a {
    font-size: 26px;
  }
}
@media screen and (max-width: 800px) {
  .header .header-content div a {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .header .header-content div a {
    font-size: 22px;
  }
}
@media screen and (max-width: 420px) {
  .header .header-content div a {
    font-size: 20px;
  }
}
.header .header-search {
  display: none;
}

.btn {
  background-color: crimson;
  font-size: 30px;
  padding: 9px 25px;
  border: none;
  border-radius: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  margin-top: 100px;
  border-top: 2px solid crimson;
}
@media screen and (max-width: 1200px) {
  .footer {
    width: 90%;
    margin-top: 30px;
    padding: 40px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
.footer h3 {
  font-size: 30px;
}
.footer ul {
  display: flex;
}
@media screen and (max-width: 800px) {
  .footer ul {
    margin-top: 15px;
    justify-content: center;
  }
}
.footer ul li a {
  font-size: 22px;
  display: block;
  margin-right: 20px;
}

.header {
  background-image: url(../img/bg-man.jpg);
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .movies {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .movies {
    width: 70%;
  }
}
.movies h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.movies hr {
  border: 2px solid crimson;
  border-radius: 5px;
  margin-bottom: 30px;
}
.movies .box-container-1, .movies .box-container-2, .movies .box-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.movies .box-container-1 .box-1, .movies .box-container-1 .box-2, .movies .box-container-1 .box-3, .movies .box-container-2 .box-1, .movies .box-container-2 .box-2, .movies .box-container-2 .box-3, .movies .box-container-3 .box-1, .movies .box-container-3 .box-2, .movies .box-container-3 .box-3 {
  z-index: 1000;
  display: none;
}
.movies .box-container-1 .box-1:nth-child(1), .movies .box-container-1 .box-1:nth-child(2), .movies .box-container-1 .box-1:nth-child(3), .movies .box-container-1 .box-1:nth-child(4), .movies .box-container-1 .box-2:nth-child(1), .movies .box-container-1 .box-2:nth-child(2), .movies .box-container-1 .box-2:nth-child(3), .movies .box-container-1 .box-2:nth-child(4), .movies .box-container-1 .box-3:nth-child(1), .movies .box-container-1 .box-3:nth-child(2), .movies .box-container-1 .box-3:nth-child(3), .movies .box-container-1 .box-3:nth-child(4), .movies .box-container-2 .box-1:nth-child(1), .movies .box-container-2 .box-1:nth-child(2), .movies .box-container-2 .box-1:nth-child(3), .movies .box-container-2 .box-1:nth-child(4), .movies .box-container-2 .box-2:nth-child(1), .movies .box-container-2 .box-2:nth-child(2), .movies .box-container-2 .box-2:nth-child(3), .movies .box-container-2 .box-2:nth-child(4), .movies .box-container-2 .box-3:nth-child(1), .movies .box-container-2 .box-3:nth-child(2), .movies .box-container-2 .box-3:nth-child(3), .movies .box-container-2 .box-3:nth-child(4), .movies .box-container-3 .box-1:nth-child(1), .movies .box-container-3 .box-1:nth-child(2), .movies .box-container-3 .box-1:nth-child(3), .movies .box-container-3 .box-1:nth-child(4), .movies .box-container-3 .box-2:nth-child(1), .movies .box-container-3 .box-2:nth-child(2), .movies .box-container-3 .box-2:nth-child(3), .movies .box-container-3 .box-2:nth-child(4), .movies .box-container-3 .box-3:nth-child(1), .movies .box-container-3 .box-3:nth-child(2), .movies .box-container-3 .box-3:nth-child(3), .movies .box-container-3 .box-3:nth-child(4) {
  display: inline-block;
}
.movies .box-container-1 .box-1 .content .movie-title, .movies .box-container-1 .box-2 .content .movie-title, .movies .box-container-1 .box-3 .content .movie-title, .movies .box-container-2 .box-1 .content .movie-title, .movies .box-container-2 .box-2 .content .movie-title, .movies .box-container-2 .box-3 .content .movie-title, .movies .box-container-3 .box-1 .content .movie-title, .movies .box-container-3 .box-2 .content .movie-title, .movies .box-container-3 .box-3 .content .movie-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.movies .box-container-1 .box-1 .content .description, .movies .box-container-1 .box-2 .content .description, .movies .box-container-1 .box-3 .content .description, .movies .box-container-2 .box-1 .content .description, .movies .box-container-2 .box-2 .content .description, .movies .box-container-2 .box-3 .content .description, .movies .box-container-3 .box-1 .content .description, .movies .box-container-3 .box-2 .content .description, .movies .box-container-3 .box-3 .content .description {
  font-family: "Poppins", sans-serif;
  color: #D9D7D7;
  font-size: 14px;
}
.movies .box-container-1 .box-1 .content img, .movies .box-container-1 .box-2 .content img, .movies .box-container-1 .box-3 .content img, .movies .box-container-2 .box-1 .content img, .movies .box-container-2 .box-2 .content img, .movies .box-container-2 .box-3 .content img, .movies .box-container-3 .box-1 .content img, .movies .box-container-3 .box-2 .content img, .movies .box-container-3 .box-3 .content img {
  width: 100%;
  margin-bottom: 15px;
}
.movies .load-more {
  margin-top: 40px;
  display: inline-block;
  align-self: flex-end;
  cursor: pointer;
  background-color: Darkred;
}
.movies .load-more:hover {
  background-color: crimson;
}

/*# sourceMappingURL=style.css.map */
